In [1]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF
import plotly
plotly.tools.set_credentials_file(username='ninjamouse', api_key='LejqbK7NWhPU7zXoMuhw')

import numpy as np
import pandas as pd

df = pd.read_csv('09_attack.csv')

In [2]:
df.head()

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,"2010-06-12 10:36:00,136369",192.168.2.106,205.234.175.175,TCP,60,"3595 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 L..."
1,2,"2010-06-12 10:36:00,763098",192.168.1.104,192.150.8.118,TCP,60,"17053 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 ..."
2,3,"2010-06-12 10:36:02,075548",192.168.1.104,192.150.18.200,TCP,60,"17057 > 80 [FIN, ACK] Seq=1 Ack=1 Win=16298 ..."
3,4,"2010-06-12 10:36:02,247910",192.168.2.113,63.245.209.72,TCP,60,"1302 > 443 [FIN, ACK] Seq=1 Ack=1 Win=64059 ..."
4,5,"2010-06-12 10:36:06,234540",192.168.2.110,72.21.91.19,TCP,60,"2247 > 80 [FIN, ACK] Seq=1 Ack=1 Win=63040 L..."

In [3]:
#df.sort_values(['Source', 'Destination'],  ascending=[True, False]  )
#df['Info'] = df['Info'].astype('str')
#get=df[df['Info'].str.contains('GET')]


#Sort the connections based on the pair Source-->Destination
#Select all the connections that have Source IP and Destination IP with 75.127.97.72
df.drop(['Time', 'Protocol', 'Length', 'Info'], axis=1)\
            .groupby(["Source", 'Destination']) \
            .count() \
            .sort_values(['No.'], ascending=False)\
            .head()
d=df[(df.Destination=='69.84.133.138') | (df.Source=='75.127.97.72')]

                              No.
Source        Destination
192.168.56.1  69.84.133.138  5927
69.84.133.138 192.168.56.1   2239
68.178.178.97 192.168.2.112   796
66.102.139.7  192.168.1.104   569
65.55.21.250  192.168.1.104   487

In [5]:
#convert Info into string to search through them
df['Info'] = df['Info'].astype('str')
df[df['Info'].str.contains('GET')].head()

,No.,Time,Source,Destination,Protocol,Length,Info
147,148,"2010-06-12 10:36:34,446721",192.168.1.104,66.102.139.7,HTTP,127,GET /news/web/121658 HTTP/1.1
159,160,"2010-06-12 10:36:34,752515",192.168.1.104,66.102.139.7,HTTP,131,GET /news/web/121658 HTTP/1.1
381,382,"2010-06-12 10:36:56,675019",192.168.1.104,66.102.139.7,HTTP,120,GET /images/header_roundedcorners.gif HTTP/1.1
482,483,"2010-06-12 10:37:59,650447",192.168.1.104,66.102.139.7,HTTP,116,GET /images/icon_shortcut.gif HTTP/1.1
488,489,"2010-06-12 10:37:59,771657",192.168.1.104,66.102.139.7,HTTP,116,GET /images/icon_shortcut.gif HTTP/1.1

In [6]:
#Display packets with length > 10k
trace1=go.Scatter(x=df['Time'],y=df['Length'],mode='markers')
l=df.query('(Length>10000)')
trace2=go.Scatter(x=l['Time'],y=l['Length'], mode='lines')
data=[trace1, trace2]
py.iplot(data, filename='trace 1')

/home/deeplearning/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [7]:
from sklearn import linear_model

In [8]:
X = df

# Treat the problem as a pure classification problem.

X['Protocol'] = X['Protocol'].astype('category')
# Could use float, but it doesn't make much sense
#X['Source'] = X['Source'].apply(lambda x: float(x.replace('.','')))

# Convert IPs to classes
X['Destination'] = X['Destination'].astype('category')
X['Source'] = X['Source'].astype('category')

# Convert info to classes as well
X['Info'] = X['Info'].astype('category')  # ToDo split info in relevant columns

# Drop the time series for now, just to play with a classifier
X = X.drop(['Time'], axis=1)
X.head()

,No.,Source,Destination,Protocol,Length,Info
0,1,192.168.2.106,205.234.175.175,TCP,60,"3595 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 L..."
1,2,192.168.1.104,192.150.8.118,TCP,60,"17053 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 ..."
2,3,192.168.1.104,192.150.18.200,TCP,60,"17057 > 80 [FIN, ACK] Seq=1 Ack=1 Win=16298 ..."
3,4,192.168.2.113,63.245.209.72,TCP,60,"1302 > 443 [FIN, ACK] Seq=1 Ack=1 Win=64059 ..."
4,5,192.168.2.110,72.21.91.19,TCP,60,"2247 > 80 [FIN, ACK] Seq=1 Ack=1 Win=63040 L..."

In [9]:
# Set some entries as 1 'attack' and 0 no attack
# The ones you defined in d above, are entries where an attack was plausible. Everything else is clean
Y = [0 if i not in l.index.values else 1 for i in df.index.values]

In [32]:
#Verify Y in not all zeros(0)
for i in Y:
    if i!=0:
        print(i)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [14]:
#1. Aici ce facem? Pentru fiecare valoare este asignata nu cod?
## Transformam toate coloanele care nu sunt numerice, in valori numerice.
## De exemplu, pentru coloana Protocol ai valori 'HTTP' si 'TCP'. Matematic e greu sa le analizezi
## daca nu sunt in format numeric. Asa ca functia lambda de mai jos iti transforma
## toate valorile 'HTTP' in 0 si 'TCP' in 1 (de exemplu). Daca ai mai multe coloane, ai mai multe valori (0,1,2,3..)
catColumns = X.select_dtypes(['category']).columns
X[catColumns] = X[catColumns].apply(lambda x: x.cat.codes)

In [16]:
#Show X
#X

In [17]:
#2. Banuiesc ca aici este aplicat algoritmul de linear regression? Ar trebui sa il inteleg sau doar il aplic si gata?
## Aici faci doar partea de model fitting a algoritmului. Pe baza valorilor din X, iti antrenezi modelul ca sa prezica
## valorile din Y. Aici calculezi coeficientii cei mai potriviti din formula liniara care iti satisfac cel mai bine
## X = Y
## sau mai in detaliu, ai avea 
## coef_Source * X['Source'] + coef_Destination * X['Destination'] + .. + coef_Info * X['Info'] = Y
## ,pentru fiecare linie din X si linia corespunzatoare din Y

clf = linear_model.SGDClassifier(max_iter=1000, tol=1e-3)
clf.fit(X, Y)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
       early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
       l1_ratio=0.15, learning_rate='optimal', loss='hinge', max_iter=1000,
       n_iter=None, n_iter_no_change=5, n_jobs=None, penalty='l2',
       power_t=0.5, random_state=None, shuffle=True, tol=0.001,
       validation_fraction=0.1, verbose=0, warm_start=False)

In [25]:
# ## TODO

# df = pd.read_csv('second_attack.csv')

# X_test = df

# ## apply transformation methods as above

# pred = clf.predict(X_test)
df2 = pd.read_csv('18_attack.csv')
X_test = df2
X_test.head()

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,192.168.2.113,216.8.179.23,TCP,60,"2950 > 80 [FIN, ACK] Seq=1 Ack=1 Win=64860 L..."
1,2,3.766308,192.168.2.113,192.168.2.255,NBNS,92,Name query NB WORKGROUP<1b>
2,3,4.515448,192.168.2.113,192.168.2.255,NBNS,92,Name query NB WORKGROUP<1b>
3,4,5.265428,192.168.2.113,192.168.2.255,NBNS,92,Name query NB WORKGROUP<1b>
4,5,9.388766,192.168.5.122,192.168.3.116,IMAP,71,Response: * OK Still here

In [20]:
df2.drop(['Time', 'Protocol', 'Length', 'Info'], axis=1)\
            .groupby(["Source", 'Destination']) \
            .count() \
            .sort_values(['No.'], ascending=False)\
            .head()
#d2=df2[(df2.Destination=='69.192.24.88') | (df2.Source=='69.192.24.88')]

                              No.
Source        Destination
192.168.56.1  74.55.1.4      6066
74.55.1.4     192.168.56.1   2378
75.101.147.64 192.168.1.101   616
69.192.24.88  192.168.2.110   458
192.168.1.101 75.101.147.64   357

In [26]:
X_test=df2
X_test['Protocol'] = X_test['Protocol'].astype('category')
X_test['Destination'] = X_test['Destination'].astype('category')
X_test['Source'] = X_test['Source'].astype('category')
X_test['Info'] = X_test['Info'].astype('category')  # ToDo split info in relevant columns
X_test = X_test.drop(['Time'], axis=1)
X_test.head()
catColumns = X_test.select_dtypes(['category']).columns
X_test[catColumns] = X_test[catColumns].apply(lambda x: x.cat.codes)
pred = clf.predict(X_test)

In [24]:
for i in pred:
    if i!=0:
        print(i)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [28]:
trace3=go.Scatter(x=df2['Time'],y=df2['Length'],mode='markers')
#l=df2.query('(Length>10000)')
trace4=go.Scatter(x=df2['Time'],y=pred*df2['Length'], mode='lines')
data2=[trace3, trace4]
py.iplot(data2, filename='trace 2')

In [ ]:
## TODO
## Compute 'd' the same way you computed it in the first case
## Plot d + pred
## Compare overalp between d and pred

In [33]:
#X

In [36]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=2, max_depth=2, random_state=0)
clf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=2, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [37]:
clf.feature_importances_

array([0.        , 0.39901345, 0.00381377, 0.10098655, 0.49618623,
       0.        ])

In [43]:
pred2=clf.predict(X_test)

In [47]:
for i in pred2:
    if i!=0:
        print(i)

In [44]:
trace5=go.Scatter(x=df2['Time'],y=df2['Length'],mode='markers')
#l=df2.query('(Length>10000)')
trace4=go.Scatter(x=df2['Time'],y=pred2*df2['Length'], mode='lines')
data2=[trace3, trace4]
py.iplot(data2, filename='trace 3')

/home/deeplearning/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead