In [13]:
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as FF
import plotly
plotly.tools.set_credentials_file(username='ninjamouse', api_key='LejqbK7NWhPU7zXoMuhw')

import numpy as np
import pandas as pd

df = pd.read_csv('09_attack_test.csv')

In [14]:
df

,No.,Time,Source,Destination,Protocol,Destination Port,Length,Info
0,1,"2010-06-12 10:36:00,136369",192.168.2.106,205.234.175.175,TCP,80.0,60,"3595 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 L..."
1,2,"2010-06-12 10:36:00,763098",192.168.1.104,192.150.8.118,TCP,80.0,60,"17053 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 ..."
2,3,"2010-06-12 10:36:02,075548",192.168.1.104,192.150.18.200,TCP,80.0,60,"17057 > 80 [FIN, ACK] Seq=1 Ack=1 Win=16298 ..."
3,4,"2010-06-12 10:36:02,247910",192.168.2.113,63.245.209.72,TCP,443.0,60,"1302 > 443 [FIN, ACK] Seq=1 Ack=1 Win=64059 ..."
4,5,"2010-06-12 10:36:06,234540",192.168.2.110,72.21.91.19,TCP,80.0,60,"2247 > 80 [FIN, ACK] Seq=1 Ack=1 Win=63040 L..."
5,6,"2010-06-12 10:36:08,747195",192.168.1.104,192.150.8.118,TCP,80.0,60,"[TCP Retransmission] 17053 > 80 [FIN, ACK] S..."
6,7,"2010-06-12 10:36:11,590832",192.168.1.104,192.150.18.200,TCP,80.0,60,"[TCP Retransmission] 17057 > 80 [FIN, ACK] S..."
7,8,"2010-06-12 10:36:14,545221",Ibm_8b:63:8e,Alcatel-_87:f5:94,ARP,NaN,60,192.168.2.111 is at 00:09:6b:8b:63:8e
8,9,"2010-06-12 10:36:14,547598",Ibm_bb:ce:df,Alcatel-_87:f5:94,ARP,NaN,60,192.168.1.103 is at 00:11:25:bb:ce:df
9,10,"2010-06-12 10:36:16,901761",192.168.1.101,192.168.1.255,BROWSER,138.0,243,"Local Master Announcement TESTBED01, Workstati..."
10,11,"2010-06-12 10:36:17,408796",192.168.5.122,192.168.3.116,IMAP,2756.0,71,Response: * OK Still here
11,12,"2010-06-12 10:36:17,409004",192.168.5.122,192.168.3.116,TCP,2756.0,71,"[TCP Retransmission] 143 > 2756 [PSH, ACK] S..."
12,13,"2010-06-12 10:36:17,576168",192.168.3.116,192.168.5.122,TCP,143.0,60,2756 > 143 [ACK] Seq=1 Ack=18 Win=16228 Len=0
13,14,"2010-06-12 10:36:18,510759",192.168.2.106,85.183.249.139,TCP,443.0,60,"3600 > 443 [FIN, ACK] Seq=1 Ack=1 Win=16914 ..."
14,15,"2010-06-12 10:36:20,091043",192.168.2.113,192.168.2.255,BROWSER,138.0,243,"Local Master Announcement TESTBED13, Workstati..."
15,16,"2010-06-12 10:36:21,788627",Ibm_bb:cf:0f,Broadcast,ARP,NaN,60,Who has 192.168.4.1? Tell 192.168.4.120
16,17,"2010-06-12 10:36:21,789581",192.168.4.120,192.168.5.122,TCP,110.0,62,3343 > 110 [SYN] Seq=0 Win=16384 Len=0 MSS=1...
17,18,"2010-06-12 10:36:21,789959",192.168.5.122,192.168.4.120,TCP,3343.0,62,"110 > 3343 [SYN, ACK] Seq=0 Ack=1 Win=5840 L..."
18,19,"2010-06-12 10:36:21,790146",192.168.5.122,192.168.4.120,TCP,3343.0,62,"[TCP Out-Of-Order] 110 > 3343 [SYN, ACK] Seq..."
19,20,"2010-06-12 10:36:21,791336",Ibm_bb:cf:0f,Alcatel-_87:f5:94,ARP,NaN,60,192.168.4.120 is at 00:11:25:bb:cf:0f
20,21,"2010-06-12 10:36:21,793391",192.168.4.120,192.168.5.122,TCP,110.0,60,3343 > 110 [ACK] Seq=1 Ack=1 Win=17520 Len=0
21,22,"2010-06-12 10:36:21,793803",192.168.5.122,192.168.4.120,POP,3343.0,74,S: +OK Dovecot ready.
22,23,"2010-06-12 10:36:21,793992",192.168.5.122,192.168.4.120,TCP,3343.0,74,"[TCP Retransmission] 110 > 3343 [PSH, ACK] S..."
23,24,"2010-06-12 10:36:24,715403",192.168.1.104,192.150.8.118,TCP,80.0,60,"[TCP Retransmission] 17053 > 80 [FIN, ACK] S..."
24,25,"2010-06-12 10:36:24,787296",192.168.5.122,192.168.4.120,TCP,3343.0,74,"[TCP Retransmission] 110 > 3343 [PSH, ACK] S..."
25,26,"2010-06-12 10:36:24,787475",192.168.5.122,192.168.4.120,TCP,3343.0,74,"[TCP Retransmission] 110 > 3343 [PSH, ACK] S..."
26,27,"2010-06-12 10:36:24,787832",192.168.4.120,192.168.5.122,POP,110.0,67,C: USER user20
27,28,"2010-06-12 10:36:24,788181",192.168.5.122,192.168.4.120,TCP,3343.0,60,110 > 3343 [ACK] Seq=21 Ack=14 Win=5840 Len=0
28,29,"2010-06-12 10:36:24,788187",192.168.5.122,192.168.4.120,POP,3343.0,60,S: +OK
29,30,"2010-06-12 10:36:24,788330",192.168.5.122,192.168.4.120,TCP,3343.0,60,110 > 3343 [ACK] Seq=21 Ack=14 Win=5840 Len=0
...,...,...,...,...,...,...,...,...
16823,16824,"2010-06-12 10:42:59,049407",59.106.97.232,192.168.4.118,TCP,1448.0,62,"80 > 1448 [SYN, ACK] Seq=0 Ack=1 Win=5840 Le..."
16824,16825,"2010-06-12 10:42:59,049722",192.168.4.118,59.106.97.232,TCP,80.0,60,1448 > 80 [ACK] Seq=1 Ack=1 Win=17520 Len=0
16825,16826,"2010-06-12 10:42:59,049861",192.168.4.118,59.106.97.232,HTTP,80.0,123,GET /contact/img/category_right_hr.gif HTTP/1.1
16826,16827,"2010-06-12 10:42:59,072634",59.106.97.232,192.168.4.118,TCP,1447.0,60,80 > 1447 [ACK] Seq=402 Ack=68 Win=5840 Len=0
16827,16828,"2010-06-12 10:42:59,212020",192.168.3.117,192.168.5.122,TCP,143.0,60,2354 > 143 [ACK] Seq=1 Ack=69 Win=16075 Len=0
16828,16829,"2010-06-12 10:42:59,263507",59.106.97.232,192.168.4.118,TCP,1448.0,60,80 > 1448 [ACK] Seq=1 Ack=70 Win=5840 Len=0
16829,16830,"2010-06-12 10:42:59,265312",59.106.97.232,192.168.4.118,HTTP,1448.0,398,HTTP/1.1 200 OK (GIF89a)
16830,16831,"2010-06-12 10:42:59,265319",59.106.97.232,192.168.4.118,TCP,1448.0,60,"80 > 1448 [FIN, ACK] Seq=345 Ack=70 Win=5840..."
16831,16832,"2010-06-12 10:42:59,265917",192.168.4.118,59.106.97.232,TCP,80.0,60,1448 > 80 [ACK] Seq=70 Ack=346 Win=17176 Len=0
16832,16833,"2010-06-12 10:42:59,266053",192.168.4.118,59.106.97.232,TCP,80.0,60,"1448 > 80 [FIN, ACK] Seq=70 Ack=346 Win=1717..."
16833,16834,"2010-06-12 10:42:59,266544",192.168.4.118,59.106.97.232,TCP,80.0,62,1449 > 80 [SYN] Seq=0 Win=16384 Len=0 MSS=14...
16834,16835,"2010-06-12 10:42:59,474622",59.106.97.232,192.168.4.118,TCP,1449.0,62,"80 > 1449 [SYN, ACK] Seq=0 Ack=1 Win=5840 Le..."
16835,16836,"2010-06-12 10:42:59,475036",192.168.4.118,59.106.97.232,TCP,80.0,60,1449 > 80 [ACK] Seq=1 Ack=1 Win=17520 Len=0
16836,16837,"2010-06-12 10:42:59,475147",192.168.4.118,59.106.97.232,HTTP,80.0,123,GET /contact/img/category_right_hr.gif HTTP/1.1
16837,16838,"2010-06-12 10:42:59,478607",59.106.97.232,192.168.4.118,TCP,1448.0,60,80 > 1448 [ACK] Seq=346 Ack=71 Win=5840 Len=0
16838,16839,"2010-06-12 10:42:59,667343",69.84.133.138,192.168.56.1,TCP,54757.0,2962,80 > 54757 [ACK] Seq=1 Ack=324 Win=15616 Len...
16839,16840,"2010-06-12 10:42:59,667510",192.168.56.1,69.84.133.138,TCP,80.0,60,54757 > 80 [RST] Seq=324 Win=0 Len=0
16840,16841,"2010-06-12 10:42:59,667558",69.84.133.138,192.168.56.1,HTTP,54757.0,1294,HTTP/1.1 500 Service unavailable (with message...
16841,16842,"2010-06-12 10:42:59,667648",192.168.56.1,69.84.133.138,TCP,80.0,60,54757 > 80 [RST] Seq=324 Win=0 Len=0
16842,16843,"2010-06-12 10:42:59,683001",59.106.97.232,192.168.4.118,TCP,1449.0,60,80 > 1449 [ACK] Seq=1 Ack=70 Win=5840 Len=0
16843,16844,"2010-06-12 10:42:59,685048",59.106.97.232,192.168.4.118,HTTP,1449.0,398,HTTP/1.1 200 OK (GIF89a)
16844,16845,"2010-06-12 10:42:59,685880",192.168.4.118,59.106.97.232,TCP,80.0,60,"1449 > 80 [FIN, ACK] Seq=70 Ack=345 Win=1717..."
16845,16846,"2010-06-12 10:42:59,686436",192.168.4.118,59.106.97.232,TCP,80.0,62,1450 > 80 [SYN] Seq=0 Win=16384 Len=0 MSS=14...
16846,16847,"2010-06-12 10:42:59,687494",59.106.97.232,192.168.4.118,TCP,1449.0,60,"80 > 1449 [FIN, ACK] Seq=345 Ack=70 Win=5840..."
16847,16848,"2010-06-12 10:42:59,687839",192.168.4.118,59.106.97.232,TCP,80.0,60,1449 > 80 [ACK] Seq=71 Ack=346 Win=17176 Len=0
16848,16849,"2010-06-12 10:42:59,711012",192.168.2.113,64.90.206.110,TCP,80.0,60,"[TCP Retransmission] 1328 > 80 [FIN, ACK] Se..."
16849,16850,"2010-06-12 10:42:59,895616",59.106.97.232,192.168.4.118,TCP,1449.0,60,80 > 1449 [ACK] Seq=346 Ack=71 Win=5840 Len=0
16850,16851,"2010-06-12 10:42:59,896111",59.106.97.232,192.168.4.118,TCP,1450.0,62,"80 > 1450 [SYN, ACK] Seq=0 Ack=1 Win=5840 Le..."
16851,16852,"2010-06-12 10:42:59,896493",192.168.4.118,59.106.97.232,TCP,80.0,60,1450 > 80 [ACK] Seq=1 Ack=1 Win=17520 Len=0
16852,16853,"2010-06-12 10:42:59,896589",192.168.4.118,59.106.97.232,HTTP,80.0,123,GET /contact/img/category_right_hr.gif HTTP/1.1

In [15]:
#df.sort_values(['Source', 'Destination'],  ascending=[True, False]  )
#df['Info'] = df['Info'].astype('str')
#get=df[df['Info'].str.contains('GET')]


#Sort the connections based on the pair Source-->Destination
#Select all the connections that have Source IP and Destination IP with 75.127.97.72
df.drop(['Time', 'Protocol', 'Length', 'Info'], axis=1)\
            .groupby(["Source", 'Destination']) \
            .count() \
            .sort_values(['No.'], ascending=False)\
            .head()
d=df[(df.Destination=='69.84.133.138') | (df.Source=='75.127.97.72')]

In [4]:
#convert Info into string to search through them
df['Info'] = df['Info'].astype('str')
df[df['Info'].str.contains('GET')].head()

,No.,Time,Source,Source Port,Destination,Protocol,Destination Port,Length,Info
147,148,"2010-06-12 10:36:34,446721",192.168.1.104,17062.0,66.102.139.7,HTTP,80.0,127,GET /news/web/121658 HTTP/1.1
159,160,"2010-06-12 10:36:34,752515",192.168.1.104,17063.0,66.102.139.7,HTTP,80.0,131,GET /news/web/121658 HTTP/1.1
381,382,"2010-06-12 10:36:56,675019",192.168.1.104,17062.0,66.102.139.7,HTTP,80.0,120,GET /images/header_roundedcorners.gif HTTP/1.1
482,483,"2010-06-12 10:37:59,650447",192.168.1.104,17063.0,66.102.139.7,HTTP,80.0,116,GET /images/icon_shortcut.gif HTTP/1.1
488,489,"2010-06-12 10:37:59,771657",192.168.1.104,17066.0,66.102.139.7,HTTP,80.0,116,GET /images/icon_shortcut.gif HTTP/1.1

In [5]:
#Display packets with length > 10k
trace1=go.Scatter(x=df['Time'],y=df['Length'],mode='markers')
l=df.query('(Length>10000)')
trace2=go.Scatter(x=l['Time'],y=l['Length'], mode='lines')
data=[trace1, trace2]
py.iplot(data, filename='trace 1')

/home/deeplearning/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [6]:
from sklearn import linear_model

In [7]:
X = df

# Treat the problem as a pure classification problem.

X['Protocol'] = X['Protocol'].astype('category')
# Could use float, but it doesn't make much sense
#X['Source'] = X['Source'].apply(lambda x: float(x.replace('.','')))

# Convert IPs to classes
X['Destination'] = X['Destination'].astype('category')
X['Source'] = X['Source'].astype('category')

# Convert info to classes as well
X['Info'] = X['Info'].astype('category')  # ToDo split info in relevant columns

# Drop the time series for now, just to play with a classifier
X = X.drop(['Time'], axis=1)
X.head()

,No.,Source,Source Port,Destination,Protocol,Destination Port,Length,Info
0,1,192.168.2.106,3595.0,205.234.175.175,TCP,80.0,60,"3595 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 L..."
1,2,192.168.1.104,17053.0,192.150.8.118,TCP,80.0,60,"17053 > 80 [FIN, ACK] Seq=1 Ack=1 Win=17520 ..."
2,3,192.168.1.104,17057.0,192.150.18.200,TCP,80.0,60,"17057 > 80 [FIN, ACK] Seq=1 Ack=1 Win=16298 ..."
3,4,192.168.2.113,1302.0,63.245.209.72,TCP,443.0,60,"1302 > 443 [FIN, ACK] Seq=1 Ack=1 Win=64059 ..."
4,5,192.168.2.110,2247.0,72.21.91.19,TCP,80.0,60,"2247 > 80 [FIN, ACK] Seq=1 Ack=1 Win=63040 L..."

In [8]:
# Set some entries as 1 'attack' and 0 no attack
# The ones you defined in d above, are entries where an attack was plausible. Everything else is clean
Y = [0 if i not in l.index.values else 1 for i in df.index.values]

In [9]:
#Verify Y in not all zeros(0)
for i in Y:
    if i!=0:
        print(i)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [10]:
#1. Aici ce facem? Pentru fiecare valoare este asignata nu cod?
## Transformam toate coloanele care nu sunt numerice, in valori numerice.
## De exemplu, pentru coloana Protocol ai valori 'HTTP' si 'TCP'. Matematic e greu sa le analizezi
## daca nu sunt in format numeric. Asa ca functia lambda de mai jos iti transforma
## toate valorile 'HTTP' in 0 si 'TCP' in 1 (de exemplu). Daca ai mai multe coloane, ai mai multe valori (0,1,2,3..)
catColumns = X.select_dtypes(['category']).columns
X[catColumns] = X[catColumns].apply(lambda x: x.cat.codes)

In [16]:
#Show X
#X

In [11]:
#2. Banuiesc ca aici este aplicat algoritmul de linear regression? Ar trebui sa il inteleg sau doar il aplic si gata?
## Aici faci doar partea de model fitting a algoritmului. Pe baza valorilor din X, iti antrenezi modelul ca sa prezica
##Â valorile din Y. Aici calculezi coeficientii cei mai potriviti din formula liniara care iti satisfac cel mai bine
##Â X = Y
## sau mai in detaliu, ai avea 
## coef_Source * X['Source'] + coef_Destination * X['Destination'] + .. + coef_Info * X['Info'] = Y
## ,pentru fiecare linie din X si linia corespunzatoare din Y

clf = linear_model.SGDClassifier(max_iter=1000, tol=1e-3)
clf.fit(X, Y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [25]:
# ##Â TODO

# df = pd.read_csv('second_attack.csv')

# X_test = df

# ## apply transformation methods as above

# pred = clf.predict(X_test)
df2 = pd.read_csv('18_attack.csv')
X_test = df2
X_test.head()

,No.,Time,Source,Destination,Protocol,Length,Info
0,1,0.000000,192.168.2.113,216.8.179.23,TCP,60,"2950 > 80 [FIN, ACK] Seq=1 Ack=1 Win=64860 L..."
1,2,3.766308,192.168.2.113,192.168.2.255,NBNS,92,Name query NB WORKGROUP<1b>
2,3,4.515448,192.168.2.113,192.168.2.255,NBNS,92,Name query NB WORKGROUP<1b>
3,4,5.265428,192.168.2.113,192.168.2.255,NBNS,92,Name query NB WORKGROUP<1b>
4,5,9.388766,192.168.5.122,192.168.3.116,IMAP,71,Response: * OK Still here

In [20]:
df2.drop(['Time', 'Protocol', 'Length', 'Info'], axis=1)\
            .groupby(["Source", 'Destination']) \
            .count() \
            .sort_values(['No.'], ascending=False)\
            .head()
#d2=df2[(df2.Destination=='69.192.24.88') | (df2.Source=='69.192.24.88')]

                              No.
Source        Destination
192.168.56.1  74.55.1.4      6066
74.55.1.4     192.168.56.1   2378
75.101.147.64 192.168.1.101   616
69.192.24.88  192.168.2.110   458
192.168.1.101 75.101.147.64   357

In [26]:
X_test=df2
X_test['Protocol'] = X_test['Protocol'].astype('category')
X_test['Destination'] = X_test['Destination'].astype('category')
X_test['Source'] = X_test['Source'].astype('category')
X_test['Info'] = X_test['Info'].astype('category')  # ToDo split info in relevant columns
X_test = X_test.drop(['Time'], axis=1)
X_test.head()
catColumns = X_test.select_dtypes(['category']).columns
X_test[catColumns] = X_test[catColumns].apply(lambda x: x.cat.codes)
pred = clf.predict(X_test)

In [24]:
for i in pred:
    if i!=0:
        print(i)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

In [28]:
trace3=go.Scatter(x=df2['Time'],y=df2['Length'],mode='markers')
#l=df2.query('(Length>10000)')
trace4=go.Scatter(x=df2['Time'],y=pred*df2['Length'], mode='lines')
data2=[trace3, trace4]
py.iplot(data2, filename='trace 2')

In [ ]:
##Â TODO
## Compute 'd' the same way you computed it in the first case
## Plot d + pred
## Compare overalp between d and pred

In [33]:
#X

In [36]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=2, max_depth=2, random_state=0)
clf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=2, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [37]:
clf.feature_importances_

array([0.        , 0.39901345, 0.00381377, 0.10098655, 0.49618623,
       0.        ])

In [43]:
pred2=clf.predict(X_test)

In [47]:
for i in pred2:
    if i!=0:
        print(i)

In [44]:
trace5=go.Scatter(x=df2['Time'],y=df2['Length'],mode='markers')
#l=df2.query('(Length>10000)')
trace4=go.Scatter(x=df2['Time'],y=pred2*df2['Length'], mode='lines')
data2=[trace3, trace4]
py.iplot(data2, filename='trace 3')

/home/deeplearning/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead